In [45]:
import numpy as np
import pandas as pd
import re
import json

movies = pd.read_csv("tmdb_5000_credits.csv")
acters = movies[['cast']]
actersls = acters['cast'].tolist()

In [46]:
collections = []
oneCollection = []
for i in actersls:
    ac_json = json.loads(i)
    for j in ac_json:
        oneCollection.append(j['name'])
    collections.append(oneCollection)
    oneCollection = []

data = [['yo', 'hei']]
j = 1
relationDf = pd.DataFrame(data, columns=['title', 'acter'])
for index,i in enumerate(collections):
    df = pd.DataFrame({'acter': i})
    df['title'] = movies['title'][index]
    relationDf = relationDf.append(df)
relationDf

                     acter                      title
0                      hei                         yo
0          Sam Worthington                     Avatar
1              Zoe Saldana                     Avatar
2         Sigourney Weaver                     Avatar
3             Stephen Lang                     Avatar
4       Michelle Rodriguez                     Avatar
5          Giovanni Ribisi                     Avatar
6         Joel David Moore                     Avatar
7              CCH Pounder                     Avatar
8                Wes Studi                     Avatar
9               Laz Alonso                     Avatar
10              Dileep Rao                     Avatar
11             Matt Gerald                     Avatar
12      Sean Anthony Moran                     Avatar
13             Jason Whyte                     Avatar
14          Scott Lawrence                     Avatar
15           Kelly Kilgour                     Avatar
16      James Patrick Pitt                     Avatar
17     Sean Patrick Murphy                     Avatar
18            Peter Dillon                     Avatar
19            Kevin Dorman                     Avatar
20        Kelson Henderson                     Avatar
21          David Van Horn                     Avatar
22            Jacob Tomuri                     Avatar
23    Michael Blain-Rozgay                     Avatar
24               Jon Curry                     Avatar
25             Luke Hawker                     Avatar
26           Woody Schultz                     Avatar
27            Peter Mensah                     Avatar
28               Sonia Yee                     Avatar
..                     ...                        ...
2          Peter Marquardt                El Mariachi
3          Reinol Martinez                El Mariachi
4             Ramiro Gomez                El Mariachi
5           Consuelo Gómez                El Mariachi
6              Juan García                El Mariachi
0             Edward Burns                  Newlyweds
1              Kerry Bishé                  Newlyweds
2          Marsha Dietlein                  Newlyweds
3       Caitlin Fitzgerald                  Newlyweds
4          Daniella Pineda                  Newlyweds
0              Eric Mabius  Signed, Sealed, Delivered
1            Kristin Booth  Signed, Sealed, Delivered
2             Crystal Lowe  Signed, Sealed, Delivered
3          Geoff Gustafson  Signed, Sealed, Delivered
4   Benjamin Hollingsworth  Signed, Sealed, Delivered
5            Laci J Mailey  Signed, Sealed, Delivered
6            Daphne Zuniga  Signed, Sealed, Delivered
0            Daniel Henney           Shanghai Calling
1              Eliza Coupe           Shanghai Calling
2              Bill Paxton           Shanghai Calling
3                Alan Ruck           Shanghai Calling
4               Zhu Shimao           Shanghai Calling
0           Drew Barrymore          My Date with Drew
1         Brian Herzlinger          My Date with Drew
2            Corey Feldman          My Date with Drew
3             Eric Roberts          My Date with Drew
4            Griffin Dunne          My Date with Drew
5        Samuel L. Jackson          My Date with Drew
6             Matt LeBlanc          My Date with Drew
7              Bill D'Elia          My Date with Drew

[106258 rows x 2 columns]

In [50]:
relationDf.index = pd.RangeIndex(len(relationDf.index))
relationDf.drop(relationDf.index[0], inplace=True)
relationDf.head(10)

                 acter   title
1          Zoe Saldana  Avatar
2     Sigourney Weaver  Avatar
3         Stephen Lang  Avatar
4   Michelle Rodriguez  Avatar
5      Giovanni Ribisi  Avatar
6     Joel David Moore  Avatar
7          CCH Pounder  Avatar
8            Wes Studi  Avatar
9           Laz Alonso  Avatar
10          Dileep Rao  Avatar

In [ ]:
relationDf.to_csv("relationDf.csv")

In [52]:
df = pd.read_csv("relationDf.csv")

# Exemple
df1 = df.loc[df['acter']=='Johnny Depp']
df1

,Unnamed: 0,acter,title
83,84,Johnny Depp,Pirates of the Caribbean: At World's End
864,865,Johnny Depp,Pirates of the Caribbean: Dead Man's Chest
897,898,Johnny Depp,The Lone Ranger
1126,1127,Johnny Depp,Pirates of the Caribbean: On Stranger Tides
1924,1925,Johnny Depp,Alice in Wonderland
5045,5046,Johnny Depp,Alice Through the Looking Glass
5663,5664,Johnny Depp,Charlie and the Chocolate Factory
6367,6368,Johnny Depp,Dark Shadows
7833,7834,Johnny Depp,Rango
8484,8485,Johnny Depp,Pirates of the Caribbean: The Curse of the Bla...
11101,11102,Johnny Depp,Public Enemies
11611,11612,Johnny Depp,The Tourist
12835,12836,Johnny Depp,Transcendence
17403,17404,Johnny Depp,Jack and Jill
25719,25720,Johnny Depp,Mortdecai
28622,28623,Johnny Depp,Black Mass
29738,29739,Johnny Depp,Into the Woods
33541,33542,Johnny Depp,From Hell
34681,34682,Johnny Depp,21 Jump Street
37168,37169,Johnny Depp,Secret Window
39564,39565,Johnny Depp,The Ninth Gate
41232,41233,Johnny Depp,A Nightmare on Elm Street
41608,41609,Johnny Depp,Donnie Brasco
43523,43524,Johnny Depp,The Astronaut's Wife
46379,46380,Johnny Depp,Blow
46746,46747,Johnny Depp,Corpse Bride
48100,48101,Johnny Depp,The Imaginarium of Doctor Parnassus
49135,49136,Johnny Depp,Once Upon a Time in Mexico
52651,52652,Johnny Depp,Chocolat
52888,52889,Johnny Depp,Finding Neverland
54014,54015,Johnny Depp,Don Juan DeMarco
57450,57451,Johnny Depp,The Libertine
58902,58903,Johnny Depp,Edward Scissorhands
63456,63457,Johnny Depp,Fear and Loathing in Las Vegas
64681,64682,Johnny Depp,Ed Wood
77368,77369,Johnny Depp,What's Eating Gilbert Grape
86289,86290,Johnny Depp,Platoon
88483,88484,Johnny Depp,Freddy's Dead: The Final Nightmare
90130,90131,Johnny Depp,Yoga Hosers
94809,94810,Johnny Depp,Tusk